html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons__wrapper {
    margin: 16px auto;
}

.d-flex {
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

button,
.btn {
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    background: gainsboro;
    border: 0;
    padding: 8px 12px;
    border-radius: 2px;
    letter-spacing: .4px;
}

.btn:active {
    filter: brightness(0.9)
}

.btn--primary {
    background: blue;
    color: white;
}

.btn--success {
    background: green;
    color: white;
}

.btn--warning {
    background: orange;
    color: white;
}

.btn--danger {
    background: red;
    color: white;
}

.btn--small {
    padding: 4px 8px;
}

.btn--outline {
    border: 1px solid rgb(145, 145, 145);
    color: rgb(145, 145, 145);
    background: transparent;
}

.btn--outline--primary {
    border: 1px solid blue;
    color: blue;
    background: transparent;
}

.btn--outline--success {
    border: 1px solid green;
    color: green;
    background: transparent;
}

.btn--outline--warning {
    border: 1px solid orange;
    color: orange;
    background: transparent;
}

.btn--outline--danger {
    border: 1px solid red;
    color: red;
    background: transparent;
}