html,
body {
    margin: 0;
    padding: 0;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    border-bottom: 1px solid #e8e7e7;
}

.container__title {
    font-size: 24px;
}

.wrapper {
    margin: 4px auto;
}

.d-flex {
    display: flex;
    gap: 12px;
    margin: 12px 0;
}

.flex-col {
    flex-direction: column;
}

.items-start {
    align-items: flex-start;
}

.items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}