.exploring-solutions {
	margin: 64px auto 0 auto;
	text-align: center;
	.cards__container {
		position: relative;
		margin: 32px 0;
		display: flex;
		justify-content: center;
		&__wrapper {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto -120px auto;
			max-width: 1200px;
			justify-content: center;
			.card {
				background: white;
				margin: 8px;
				width: calc(100% / 3 - 16px);
				text-align: center;
				border: 1px solid #fafafa;
				border-radius: 4px;
				max-width: 300px;
				display: flex;
				flex-direction: column;
				align-items: center;
				z-index: 2;
				transition: all 0.4s;
				position: relative;
				bottom: 0;
				&__icon {
					.icon {
						border-radius: 100%;
						height: 64px;
						width: 64px;
						display: block;
						background: blue;
						margin: 16px;
					}
				}
				&:hover {
					background: $blue;
					color: $light-gray;
					cursor: pointer;
					bottom: 8px;
					border-color: $blue;
					.icon {
						background: white;
					}
				}
			}
		}
		&__background {
			background: black;
			width: 100%;
			height: 300px;
			overflow: hidden;
			position: absolute;
			bottom: 0;
			video {
				width: 100%;
				object-fit: cover;
				object-position: bottom;
				filter: opacity(0.4) hue-rotate(329deg);
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: calc(100% / 2 - 16px) !important;
	}
}
