<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Intro do Design Systems</title>
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/button.css" />
	</head>
	<body>
		<header class="d-flex">
			<h2>Buttons</h2>
		</header>

		<div class="grid-sample">
			<p class="title">Primary</p>
			<div class="sample">
				<!-- Código aqui -->
			</div>
		</div>
		<div class="grid-sample">
			<p class="title">Outline</p>
			<div class="sample">
				<!-- Código aqui -->
			</div>
		</div>
		<div class="grid-sample">
			<p class="title">Danger</p>
			<div class="sample">
				<!-- Código aqui -->
			</div>
		</div>
		<div class="grid-sample">
			<p class="title">Success</p>
			<div class="sample">
				<!-- Código aqui -->
			</div>
		</div>
	</body>
</html>
