<link rel="stylesheet" href="../reset.css" />
<link rel="stylesheet" href="template.css" />
<link rel="stylesheet" href="../typography.css" />

<style>
	.text_article {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.text_article__img {
		height: 100%;
		object-fit: cover;
		width: 100%;
	}

	.text_article__title {
		font-size: 1.4rem;
		overflow: hidden;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
	}

	.text_article__description {
		overflow: hidden;
		display: -webkit-box;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 4;
	}
</style>
<div class="components">
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
	<div class="component__box">
		<article class="text_article">
			<img
				class="text_article__img"
				src="https://images.unsplash.com/photo-1678872590530-181ff9b5db92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80"
				alt=""
			/>
			<h4 class="text_article__title">Title Lorem ipsum dolor sit amet.</h4>

			<p class="text_article__description">
				description Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatem quis consequatur, unde nam
				repellendus distinctio laborum vero quia impedit!
			</p>
		</article>
	</div>
</div>
