html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    text-align: center;
    display: block;
}

main {
    width: 800px;
    margin: 64px auto;

}

img,
video {
    width: 100%;
}

p {
    line-height: 150%;
}

a {
    color: rgb(19, 19, 90);
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 0;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

input:not([type="checkbox"]),
textarea {
    padding: 12px 8px;
    border-radius: 8px;
    border: 0;
    background: rgb(238, 238, 238)
}

form div:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row;
}

button {
    padding: 12px 16px;
    border: 0;
}