.alert {
    display: inline-block;
    background: gainsboro;
    padding: 12px 16px;
    font-size: 14px;
    width: max-content
}

.alert p {
    margin: 0;
    padding: 0;
    vertical-align: middle
}

.alert svg {
    vertical-align: middle;
    display: inline
}

.alert--primary {
    background: #186ADE;
    color: white;
}

.alert--success {
    background: #077D55;
    color: white;
}

.alert--warning {
    background: #CF5B16;
    color: white;
}

.alert--danger {
    background: #D91F11;
    color: white;
}