@import "../partials/colors";

.category__title {
	padding: 0;
}

.product__dimensions,
.category__title,
.product__detail {
	max-width: 1400px;
	margin: 0 auto;
}

.product__detail {
	display: flex;
	flex-direction: column;

	.product__view {
		display: flex;
		gap: 16px;
		align-items: stretch;
	}
	.product__view__thumbnail {
		img {
			width: 100%;
		}
	}
	.product__view__options {
		display: flex;
		flex-direction: column;
		.product__fabrics {
			display: flex;
			justify-content: flex-start;
			gap: 8px;
			.fabric__option {
				width: 20px;
				aspect-ratio: 1;
				background: var(--color);
				border-radius: 20px;
				outline: transparent 1px solid;
				outline-offset: 2px;
				transition: all 0.3s;
				&:has(input:checked) {
					outline: black 1px solid;
				}
				&:hover {
					cursor: pointer;
				}
				input {
					display: none;
				}
			}
		}
		.product__upgrades {
			display: flex;
			flex-direction: column;
			gap: 12px;
			p {
				margin: 12px 0 0 0;
				padding: 0;
			}
			.upgrade_checkbox {
				color: $gray200;
				display: flex;
				align-items: center;
				gap: 8px;
				input {
					transform: scale(1.5);
				}
			}
		}

		button {
			margin: auto 0 0 0;
			align-self: flex-end;
		}
	}
}

.product__dimensions {
	display: flex;
	gap: 16px;
	.dimension__data {
		.dimension__list {
			.dimension__item {
				color: #a2a2a2;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 12px 0;
				&:not(:last-child) {
					border-bottom: 1px solid #a2a2a2;
				}
			}
		}
	}

	.dimension__thumbnail {
		img {
			width: 100%;
		}
	}
}
