.avatar[data-size="small"] {
    position: relative;
    width: 20px;
    height: 20px;
}

.avatar,
.avatar[data-size="medium"] {
    position: relative;
    width: 30px;
    height: 30px;
}

.avatar[data-size="large"] {
    position: relative;
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 100%;
}

img[loading="lazy"] {
    background: gainsboro;
    animation-name: loading;
    animation-duration: .3s;
    animation-iteration-count: infinite;
    /* animation: loading .4s alternate-reverse 0 infinite alternate alternate; */
}


@keyframes loading {
    from {
        background: red
    }

    to {
        background: gray;
    }
}

.status {
    width: 20%;
    height: 20%;
    background: gainsboro;
    display: block;
    border-radius: 100%;
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.status[data-state="active"] {
    background: green;
}

.status[data-state="inactive"] {
    background: gray;
}