.form_field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.form_field__label {
    font-size: 12px;
    color: #3E3E3C;
}

.form_field__wrapper {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #DDDBDA;
    background: white;
}

.form_field__wrapper:has(input:focus) {
    box-shadow: 0px 0px 3px 0px #0070D2;
}

.form_field__wrapper:has(input:disabled) {
    opacity: .5;
    pointer-events: none;
}

.form_field__wrapper:has(input:invalid) {
    box-shadow: 0px 0px 3px 0px #ff0c0c;
}

.form_field__wrapper:has(input:invalid)+.form_field__error {
    display: block;
}

.form__field__icon {
    width: 16px;
    aspect-ratio: 1;

}

.form_field__input {

    border: 0;
}

.form_field__input:focus {

    outline: none;
}

.form_field__input::placeholder {
    color: #706E6B;
}

.form_field__error {
    font-size: 12px;
    color: #C23934;
    display: none;
}