<!-- 
	Documentation: 
	https://www.figma.com/file/udWyes5Zfj14qQDmD6oUzL/Edit---Design-Systems?type=design&node-id=2%3A783&mode=dev&t=RszSJCDWvtv4ecS1-1
 -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Design System</title>
		<link rel="stylesheet" href="styles/globals.css" />
	</head>
	<body>
		<div class="wrapper">
			<h3 class="wrapper__title">Avatars</h3>
			<div class="wrapper__content">
				<div class="flex">
					<!-- Conteúdo aqui -->
				</div>
			</div>
		</div>

		<div class="wrapper">
			<h3 class="wrapper__title">Buttons</h3>
			<div class="wrapper__content">
				<div class="flex">
					<!-- Conteúdo aqui -->
				</div>
			</div>
		</div>

		<div class="wrapper">
			<h3 class="wrapper__title">Inputs</h3>
			<div class="wrapper__content">
				<div class="flex">
					<!-- Conteúdo aqui -->
				</div>
			</div>
		</div>
	</body>
	<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	<script>
		feather.replace();
	</script>
</html>
