.navigation__bottom {
	width: 100%;
	background: #181818;
	height: 90px;
	display: flex;
	z-index: 9;
    justify-content: space-between;
    .navigation__player, .navigation__source {
        flex-grow: 1;
    }
	.navigation__bar {
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        .navigation__controls {
            flex-grow: 1;
            display: flex;
            gap: 0px;
            align-items: center;
            .btn__control {
                outline: none;
                background: transparent;
                border: 0;
            }
        }
        .navigation__timeline {
            display: flex;
            width: 100%;
            align-items: center;
            gap: 8px;
            color: rgba(255,255,255,0.5);
            font-size: 0.8rem;
            &__bar {
                border-radius: 8px;
                overflow: hidden;
                background: rgb(219, 219, 219);
                flex-grow:1;
                height: 4px;
                position: relative;
                &__progress {
                    height: 100%;
                    background: rgb(86, 86, 86);
                    width: 50%;
                }
            }
        }
    }
}
