body {
    display: grid;
    grid-template-rows: 7;
    background: #222222
}

.newspaper__container {
    background: #fefefe;
    width: 100%;
    max-width: 1200px;
    margin: 32px auto;
    padding: 32px;
}

/* helpers */
[data-highlight]::before {
    content: attr(data-highlight);
    position: relative;
    background: yellow;
    padding: 4px;
    width: max-content;
    font-size: 12px
}

.bg--gray {
    background: #f9f9f9;
}

.btn {
    cursor: pointer;
    border: 0;
    padding: 4px 8px;
    font-weight: 800;
}

.btn--link--primary {
    color: #0876FF;
    background: transparent;
}

.h-full {
    height: 100%;
}

/* alert ------------------------------------------ */
.alert {
    display: inline-flex;
    gap: 8px;
    font-size: 12px;

}

.alert__category {
    height: 100%;
    display: block;
    padding: 8px;
}

.alert--gray {
    background: #F5F5F5;
}

.alert__info {
    flex-grow: 1;
    padding: 8px;
}

.border-bottom {
    border-bottom: 1px solid gainsboro;
}

/* pre header ------------------------------------------ */
.pre_header {
    text-align: center;
    padding: 8px 0;
}

/* header ------------------------------------------ */
.header {
    text-align: center;
    padding: 32px 0;
}

.header h1 {
    font-size: 64px;
    font-weight: 800;
    letter-spacing: .9px;
}

/* nav ------------------------------------------ */
.nav {
    display: flex;
    justify-content: center;
}

.nav__items {
    display: flex;
    gap: 32px;
    align-items: center;
    text-align: center;
    padding: 32px 0;
}

/* articles */
img {
    width: 100%;
}

.article--featured {
    display: flex;
    flex-direction: column;
}

.article--featured .article--featured__title {
    background: white;
    padding: 8px;
    margin: -50px 0 0 12px;
    width: 80%;
}

.article--featured .article--featured__description {
    margin: 16px 0 0 0;
}

/* article small */
.small_articles__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article__small {
    padding: 16px 0;
}

.article__small:not(:last-of-type) {
    border-bottom: 1px solid gainsboro;
}

.article__small .article--featured__title {
    font-weight: 300;
    font-size: 14px;
}

.article__xsmall {
    padding: 8px 0;
}

.article__xsmall:not(:last-of-type) {
    border-bottom: 1px solid gainsboro;
}

.article__xsmall .article--featured__title {
    font-weight: 300;
    font-size: 12px;
}


/* article info */
.article--info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
}

.article--info .article--info__title {
    font-size: 24px;
    line-height: 130%;
}

.article--info .article--info__description {
    line-height: 140%;
}

.article--info .actions {
    display: flex;
    justify-content: flex-end;
}

.article--info--small {
    padding: 12px 0;
    gap: 6px;
}

.article--info--small .article--info__title {
    font-size: 14px;
}

.article--info--small .article--info__description {
    font-size: 12px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    max-height: calc(1.2rem * 7);
    text-overflow: ellipsis;
    line-height: 1.2rem;
}

/* article_horizontal */
.article_horizontal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.article_horizontal .article_horizontal__bottom {
    display: grid;
}


.article_horizontal .article_horizontal__bottom {
    display: flex;
    gap: 8px;
}

.article_horizontal .article_horizontal__bottom .article__horizontal_description {
    flex-grow: 1;
    line-height: 120%;
}

.article_horizontal .article_horizontal__bottom .article__horizontal_thumbnail {
    width: calc(100% / 8 * 2);
    height: 100%;
}