<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Flags of the world</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<div class="flag_container">
			<h3 class="flag_title">Italy</h3>
			<div class="flag flag--italy"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Ukraine</h3>
			<div class="flag flag--ukraine"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Kuwait</h3>
			<div class="flag flag--kuwait"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Bangladesh</h3>
			<div class="flag flag--bangladesh"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Portugal</h3>
			<div class="flag flag--portugal"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Japan</h3>
			<div class="flag flag--japan"></div>
		</div>

		<div class="flag_container">
			<h3 class="flag_title">Greece</h3>
			<div class="flag flag--greece"></div>
		</div>
	</body>
</html>
