// https://codepen.io/cristianpoliveira/pen/WbNadNz

$bg-container: #424246;
$bg: #141415;
$bg-child: #daff0f;
$border-child: #95ae0d;

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  color: white;
}

body {
  min-height: 100dvh;
  background: #141415;
}
main {
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
}

h3 {
  padding: 12px 0;
  border-bottom: 1px solid white;
}

.container {
  $columns: 6;
  $rows: 6;
  $width: 800px;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
  max-width: $width;
  height: 400px;
  background: $bg-container;
  margin: 64px auto;
  padding: 8px;
  display: grid;
  gap: 12px;

  counter-reset: item;
  border-radius: 12px;
  position: relative;

  &::before {
    content: attr(data-title);
    position: absolute;
    transform: translate(0, -32px);
    color: white;
    left: 0;
    top: 0;
  }
}

.child {
  color: $bg-container;
  counter-increment: item;
  background: $bg-child;
  border: 1px solid $border-child;
  border-radius: 8px;
  font-size: 10px; 
  display: flex;
  flex-direction: column;
  padding: 8px;
}
 