<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div class="card__group">
			<a href="button.html" class="card">
				<p>Button</p>
			</a>
			<a href="button-group.html" class="card">
				<p>Button Group</p>
			</a>
			<a href="avatar.html" class="card">
				<p>Avatar</p>
			</a>
			<a href="input.html" class="card">
				<p>Input</p>
			</a>
			<a href="tabs.html" class="card">
				<p>Tabs</p>
			</a>
		</div>
	</body>
</html>
