@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background: #141414;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 225px;
    border-right: 1px solid #3f3c3c;
    position: fixed;
    top: 0;
    left: 0;
}
 
main {
    max-width: calc(100vw - 225px);
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    min-height: 64px;
    color: white;
    width: 100%;
    justify-content: space-between;
    padding: 0 16px;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #141414;
}

.navbar__links {
    display: flex;
    gap: 24px;
}

.navbar__link {    
    color: white;
    text-decoration: none;
}


/* splash screen */
.splash__screen {
    max-width: 100vw;
    position: relative;
    background: linear-gradient(273deg, black, transparent);
    width: 100%; 
}

.splash__screen .splash__screen__image { 
    width: 100%;
}

.splash__screen__content {
    position: absolute;
    bottom: 20px;
    left: 20px; 
    width: clamp(200px, 100%, 400px);
    min-height: 200px;
}

.title {
    font-weight: bold;
    font-size: 5rem;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 16px;
}

.splash__screen__btns {
    display: flex;
    gap: 12px;
}

button {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 8px;
}

.btn-transparent {
    background: rgb(203 203 203 / 68%);
    color: white;
}


.slideshow__section {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    padding: 16px;
}

.slideshow__title {
    display: flex;
    gap: 12px;
    color: white;
    margin: 0 0 24px 0;
    align-items: center;
}

.slideshow__wrapper {
    display: flex;
    gap: 16px;
    overflow: auto;
    max-width: 100%;
}

.slideshow img {
    width: 220px;
}


.sidebar__links {
    display: flex;
    color: white;
    flex-direction: column;
    width: 100%;
}


.sidebar__logo {
    height: 64px;
    border-bottom: 1px solid #3f3c3c;
    display: flex;
    align-items: center;
    padding: 16px;
    font-size: 1.5rem;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .9px;
}

.sidebar__link {
    position: relative;
    height: 48px;
    padding: 12px; 
    border-top: 1px solid #3f3c3c;
}

.sidebar__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: red;
    height: 100%;
    z-index: -1;
    transition: all 1s;
}

.sidebar__link:hover {
    cursor: pointer;
}


.sidebar__link:hover::before {
    width: 100%;
}


.slideshow__section__feature {
    display: flex;
    gap: 12px;
    padding: 16px;
}

.thumbnail__feature img {
    height: 300px;
}