html {
    background: gainsboro;
    font-family: 'Inter', sans-serif;

}

* {
    color: black !important;
    margin: 0;
    margin: 0;
}

body {
    ;
}

/* .card {
    color: red !important;
} */

#payments {
    color: pink;
}

.card {
    color: blue;
    background: white;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
}


.card__header {
    display: flex;
    background: red;
    justify-content: space-between;
    align-items: center;
}

.card__actions {
    background: blue;
    display: flex;
    justify-content: center;
}

.card_detail img {

    width: 100px;
    height: 75px;
    background: red;

}

.card__details {
    display: flex;
    flex-direction: column;
}

.card_detail {
    display: flex;
}

.card__actions button {
    width: 100%;
    padding: 8px 16px;
    background: blue;
    color: white;
    border-radius: 8px;
    border: 0;
}

input {
    background: rgb(126, 0, 21);
}


input[type="text"] {
    background: yellow;
}


.form__field {
    border-radius: 30px;
}

.form__field:hover {
    background: orange;
}

.form__field:focus {
    background: black;
}


.form__field:active {
    background: red;
}

input,
select,
textarea {
    padding: 12px 16px;
    border-radius: 8px;
}


.avatar {
    width: 100px;
    height: 100px;
    display: inline-block;
    border-radius: 100%;
    position: relative;
}


.avatar:is(img) {}

.avatar+svg {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: green;
    border-radius: 100%;
    position: absolute;
    right: 8px;
    bottom: 8px;
}


.avatar img {
    width: 100%;
    border-radius: 100%;
}