*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

html {
    background: #252525;
    font-family: 'Inter', sans-serif;
    padding: 16px;
}

body {
    container-type: inline-size;
    container-name: body;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 1rem;
    width: clamp(600px, 100dvw, 1000px);
    container-type: inline-size;
    container-name: cards;

    @container (max-width: 600px) {
        width: 100%;
    }
}

.card {
    border-radius: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: calc(25% - 1rem);

    @container body (max-width:600px) {
        background: red;

    }

    @container (max-width: calc(800px - 2rem)) {

        width: calc(50% - 1rem);
    }


    @container (max-width: calc(600px - 2rem)) {

        width: calc(100% - 1rem);
    }
}

.thumbnail {
    aspect-ratio: 4/3;
    object-fit: cover;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid #565656;
}

h3,
p {
    margin: 0;
    line-height: 1.3;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;

}


.text {
    width: 100%;
    color: white;
    margin: 0 auto;

}

.text * {
    line-height: 2;
}

.clamp {
    width: clamp(600px, 100%, 1000px);
}

.min {
    width: min(1000px, 100%)
}

.max {
    width: max(1000px, 100%)
}