@import "./colors";
.btn {
	display: inline-flex;
	background: transparent;
	border: 0;
	box-sizing: border-box;
}

.btn--icon {
	span {
		padding: 8px 12px;
	}
	span:first-child {
		border: 2px solid $gray300;
		border-right: 1px solid $gray300;
	}
	span:last-child {
		border: 2px solid $gray300;
		border-left: 1px solid $gray300;
	}
}

.btn {
	background: #383633;
	border-radius: 0.125rem;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8rem;
	letter-spacing: 0.5px;
	line-height: 1rem;
	font-weight: 800;
	margin: 1.5rem auto auto;
	padding: 0.75em 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	width: 100%;
	width: auto;
}

// colors
.btn {
	&--yellow {
		background: rgb(252, 238, 113);
		color: #1e1e1e;
	}
}

// sizes
.btn {
	&--large {
		padding: 1.75em 3rem;
	}
}
