@import "../colors";
@import "../mixins";

.navbar {
	@include flex(row, space-between, center);
	padding: 0 12px;
	&__logo {
		flex-grow: 1;
		flex-shrink: 0;
		@include flex(null, flex-start, null);
		img {
			width: 100px;
		}
	}
	&__search {
		flex-grow: 1;
		display: none;
	}
	&__actions {
		@include flex(null, flex-end, null);
		flex-grow: 1;
	}
}
