$white: #ffffff;
$light100: #f5f5f5;
$light200: #f0f0f0;
$orange: #f9c653;
$gray200: #cdcdcd;
$red: #e00b25;
$purple100: #303851;
$purple200: #23293c;
$gray100: #ffffff1a;
$gray200: #191919;
$gray300: #191919bf;
$black: #0000001a;
