@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	background: #0a0a0a;
	font-family: "Space Grotesk", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	color: #f3f8f2;
	scroll-behavior: smooth;
	scroll-padding-top: 200px;
}

html,
body {
	margin: 0;
	padding: 32px 32px;
	min-height: 100dvh;
	position: relative;
	scroll-behavior: smooth;
	&::-webkit-scrollbar {
		display: none;
	}
}

.text-playfair {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.intro {
	min-height: 50vh;
}
.intro h1 {
	font-size: clamp(48px, 10vw, 100px);
	letter-spacing: 1vw;
	margin: 0;
	padding: 0;
}

.nav {
	background: #0a0a0a;
	border: 1px solid #2b2b2b;
	height: 64px;
	display: flex;
	align-items: center;
	padding: 0 32px;
	position: sticky;
	top: 32px;
	z-index: 999;
	width: 50%;
	margin: 0 0 32px auto;
	gap: 32px;
	border-radius: 32px;
}

.presentation {
	background: repeating-linear-gradient(90deg, #232323 0px, #232323 1px, #ffffff00 1px, #ffffff00 40px),
		repeating-linear-gradient(0deg, #232323 0px, #232323 1px, #ffffff00 1px, #ffffff00 40px);
	height: 500px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 40px);
	grid-template-rows: repeat(auto-fill, 40px);
}

.module {
	background: #232323;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.module[data-type="html"] {
	grid-row-start: 4;
	grid-row-end: 11;
	grid-column-start: 6;
	grid-column-end: 14;
	animation: module-html 5s;
}

.module[data-type="css"] {
	grid-row-start: 6;
	grid-row-end: 11;
	grid-column-start: 15;
	grid-column-end: 28;
}

.module::after {
	content: "";
	display: block;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	position: absolute;
	background: conic-gradient(red 50%, blue 70%, orange 90%);
	z-index: -1;
}

.bento {
	position: relative;
	display: grid;
	z-index: 2;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
	gap: 12px;
	margin: 32px 0;
	transition: all 0.3s;
	&:hover {
		.box {
			transform: translateY(-10px);
			cursor: pointer;
			&:not(:hover) {
				transform: translateY(0px);
			}
		}
		&::before {
			animation-play-state: paused;
		}
	}
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: radial-gradient(circle at 100%, #860beb, #333 50%, #d86c6c 75%, #333 75%);
		z-index: -1;
		filter: blur(50px);
		animation: move-blur;
		animation-duration: 7s;
		animation-fill-mode: backwards;
		animation-direction: alternate-reverse;
		animation-iteration-count: infinite;
	}
}

@keyframes move-blur {
	from {
		background-size: 50%;
	}
	to {
		background-size: 200%;
	}
}

.box {
	grid-column-start: var(--column-start);
	grid-column-end: var(--column-end);
	grid-row-start: var(--row-start);
	grid-row-end: var(--row-end);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size: 14px;
	padding: 12px;
	transition: all 0.3s;
	background: linear-gradient(155deg, #414141 20%, #232323 90%);
	color: white;
}

.section_title {
	font-size: 32px;
	margin: 64px 0;
	position: relative;
	&::after {
		margin: 32px 0;
		content: "";
		position: absolute;
		height: 1px;
		width: 50%;
		background: white;
		display: block;
		left: -25%;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

[data-type="html"] {
	transition: all 0.4s;
	&:hover {
		background: #d79f11;
		cursor: pointer;
	}
	border: 1px solid #555555;
}

[data-type="css"] {
	transition: all 0.4s;
	&:hover {
		background: #791936;
		cursor: pointer;
	}
	border: 1px solid #791936;
}

.chapters {
	display: flex;
	height: 132vh;
	position: relative;
	@media screen and (max-width: 1024px) {
		display: flex;
		flex-direction: column;
		gap: 12px;
		height: auto;
	}
}

.chapter {
	height: 100px;
	position: sticky;
	top: 150px;
	border: 1px solid #545455;
	flex-grow: 1;
	padding: 12px;
	background: #2b2a2e;
	display: flex;
	flex-direction: column;
	&:hover {
		cursor: pointer;
	}
	@media screen and (max-width: 1024px) {
		height: 75px;
		margin-top: 0 !important;
	}
	&[disabled] {
		opacity: 0.4;
		pointer-events: none;
	}
}
.chapter:nth-child(1) {
	margin-top: (100px * 1);
}

.chapter:nth-child(2) {
	margin-top: (100px * 2);
}

.chapter:nth-child(3) {
	margin-top: (100px * 3);
}

.chapter:nth-child(4) {
	margin-top: (100px * 4);
}

.chapter:nth-child(5) {
	margin-top: (100px * 5);
}

.chapter:nth-child(6) {
	margin-top: (100px * 6);
}

.chapter:nth-child(7) {
	margin-top: (100px * 7);
}

.chapter:nth-child(8) {
	margin-top: (100px * 8);
}

.chapter:nth-child(9) {
	margin-top: (100px * 9);
}

/* ---------------------------------------------------------------------
------------------------------------------------------------------------
--------------------------------------------------------------------- */
.articles {
	text-align: center;
}
.article_card {
	display: inline-flex;
	gap: 16px;
	padding: 12px 24px;
	color: white;
	text-decoration: none;
	align-items: center;
	.article_card__category {
		background: white;
		padding: 4px 8px;
		color: black;
		border-radius: 16px;
		font-size: 12px;
		transition: all 0.4s;
		opacity: 0;
	}
	&:hover {
		color: yellow;
		.article_card__category {
			opacity: 1;
		}
	}
}

/* Presentations */
.presentations {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 12px;
}

/* Exercices */
.exercises {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 12px;
}
.presentation_card {
	position: relative;
	width: 300px;
	aspect-ratio: 16/9;
	display: inline-block;
	background: #222;
	border-radius: 8px;
	border: 4px solid;
	border-image-slice: 1;
	text-decoration: none;
	display: flex;
	align-items: flex-end;
	transition: all 0.4s;
	padding: 12px;
	line-height: 150%;

	border-image-source: conic-gradient(hsl(100 100% 60%), hsl(200 100% 60%), hsl(100 100% 60%));
}

.presentation_card::before {
	content: attr(data-type);
	color: white;
	position: absolute;
	top: 12px;
	opacity: 0;
	z-index: 3;
	left: 12px;
	width: 100%;
	height: 20px;
	transition: all 0.4s;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0.5px;
}

.presentation_card::after {
	content: attr(data-exercise);
	color: white;
	position: absolute;
	bottom: 8px;
	opacity: 0;
	z-index: 3;
	right: 8px;
	transition: all 0.4s;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	writing-mode: tb-rl;
	display: block;
}

.presentation_card:hover::before,
.presentation_card:hover::after {
	opacity: 1;
}

.presentation_card:hover {
	border-bottom-width: 50px;
	background: #323131;
}

.presentation_card__title {
	color: white;
	font-size: 1rem;
	width: 80%;
	display: block;
}

/* ---------------------------------------------------------------------
------------------------------------------------------------------------
--------------------------------------------------------------------- */

.template {
	background: #161616;
	line-height: 180%;
	max-width: 120ch;
	margin: 0 auto;
}

code {
	display: inline-block;
	border: 1px solid rgb(126, 126, 0);
	padding: 0 6px;
	border-radius: 4px;
}

ol li,
ul li {
	margin-bottom: 4px;
}

.template a {
	color: rgb(126, 126, 0);
}
