/* plain ticket */
.plain_tickets__container {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.plain_ticket {
    display: flex;
    flex-direction: column;
    position: relative;
}

.plain_ticket[data-offer="Best Price"]::before {
    content: attr(data-offer);
    font-size: 12px;
    top: 0;
    position: absolute;
    z-index: 4;
    background: var(--blue);
    color: var(--white);
    padding: 0 6px;
    border-radius: 0 0 6px 6px;
    left: 50%;
    transform: translate(-50%, 0);
}

.plain_ticket[data-status="active"] .text--gray,
.plain_ticket[data-status="active"] .text--blue,
.plain_ticket[data-status="active"] .text--green {
    color: var(--text-gray) !important;
}

.plain_ticket[data-status="active"] .plain_ticket__top,
.plain_ticket[data-status="active"] .plain_ticket__cut,
.plain_ticket[data-status="active"] .plain_ticket__bottom {
    background: var(--white);
}

.plain_ticket[data-status="active"] .plain_ticket__cut::before {
    border-right-color: var(--blue);
    border-bottom-color: var(--blue);
}

.plain_ticket[data-status="active"] .plain_ticket__cut::after {
    border-left-color: var(--blue);
    border-top-color: var(--blue);
}

.plain_ticket__top {
    /* border-bottom: 1px dashed var(--color-background); */
    border-radius: 12px 12px 0 0;
    position: relative;
    padding: 6px 12px 4px 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    background: var(--white);
}

.plain_ticket__cut {
    height: 12px;
    width: calc(100% - 12px);
    background: var(--white);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.plain_ticket__cut::before {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    bottom: -6px;
    left: -18px;
    border: 6px solid;
    content: '';
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
    border-right-color: var(--white);
    border-bottom-color: var(--white);
}

.plain_ticket__cut::after {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    bottom: -6px;
    right: -18px;
    border: 6px solid;
    content: '';
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    border-left-color: var(--white);
    border-top-color: var(--white);
}

.plain_ticket__cut .cut {
    height: 1px;
    background-image: repeating-linear-gradient(90deg, var(--color-background), transparent, var(--color-background) 3px);
    width: 100%;
    position: absolute;
    z-index: 3;
}

.plain_ticket__bottom {
    position: relative;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background: var(--white);
    border-radius: 0 0 12px 12px;
}

.plain_ticket_row__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.plain_ticket_row__center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

.plain_ticket_row__bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.duration_timeline {
    width: 100%;
    height: 1px;
    background: var(--text-gray);
    position: relative;
}

.duration_timeline::before {
    content: '';
    width: 8px;
    height: 8px;
    background: inherit;
    border-radius: 100%;
    position: absolute;
    left: -4px;
    bottom: -4px;
}

.duration_timeline::after {
    content: '';
    width: 8px;
    height: 8px;
    background: inherit;
    border-radius: 100%;
    position: absolute;
    right: -4px;
    bottom: -4px;
}