button,
.btn {
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    background: gainsboro;
    border: 0;
    padding: 10px 20px;
    border-radius: 12px;
    letter-spacing: .4px;
}

.btn:active {
    filter: brightness(0.9)
}

.btn--primary {
    background: #186ADE;
    color: white;
}

.btn--success {
    background: #077D55;
    color: white;
}

.btn--warning {
    background: #CF5B16;
    color: white;
}

.btn--danger {
    background: #D91F11;
    color: white;
}

.btn--small {
    padding: 8px 20px;
}

.btn--outline {
    border: 1px solid rgb(145, 145, 145);
    color: rgb(145, 145, 145);
    background: transparent;
}

.btn--outline--primary {
    border: 1px solid #186ADE;
    color: #186ADE;
    background: transparent;
}

.btn--outline--success {
    border: 1px solid #077D55;
    color: #077D55;
    background: transparent;
}

.btn--outline--warning {
    border: 1px solid #CF5B16;
    color: #CF5B16;
    background: transparent;
}

.btn--outline--danger {
    border: 1px solid #D91F11;
    color: #D91F11;
    background: transparent;
}