html,
body {
    margin: 0;
    padding: 0;
    background: #ccc;
}

.headline {
    min-height: 200px;
}

.navigation .navigation__links {
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
    padding: 16px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.newspaper {
    width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    background: white;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;


}

.secondary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;

}

.middle {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr 2fr;

}