@import "colors";

.sidebar {
	width: clamp(240px, 100%, 450px);
	background: $sidebar;
	min-height: 100vh;
	&__logo {
		padding: 16px 16px;
		svg {
			width: 125px;
		}
	}
	&__main-menu,
	&__list-menu {
		padding: 12px;
		display: flex;
		flex-flow: column;
	}

	&__main-menu {
		.sidebar__main__item {
			display: flex;
			align-items: center;
			gap: 8px;
			padding: 8px;
			&__icon {
				width: 22px;
				height: 22px;
				fill: $gray;
			}

			&__text {
				color: $gray;
				font-size: 0.9rem;
				line-height: 26px;
			}
		}
	}

	&__lists-menu {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		border-top: 1px solid #474747;
		overflow: auto;
		padding: 12px 0;
		margin: 12px;
		.sidebar__list__item {
			font-size: 0.9rem;
			font-weight: 400;
			color: $gray;
			padding: 2px 8px;
			line-height: 26px;
		}
	}
}
