@import "./mixins";
.grid__container {
	display: flex;
}

$cols: 12;

@for $i from 0 through $cols {
	.grid__col--#{$i} {
		width: calc(100% / $cols * $i - 16px);
	}
}

section {
	padding: 64px 32px;
}

.section--h-full {
	min-height: 100vh;
}

.section__title {
	text-align: center;
}

.grid {
	display: grid;
	gap: 16px;
}

.grid--3 {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid--4 {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.flex {
	@include flex();
}
