footer {
	background: #383632;
	color: white;

	.footer__wrapper {
		max-width: 1440px;
		margin: 0 auto;
		padding: 32px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		.footer__columns {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			.footer__col {
				.footer__col__header {
					display: flex;
					justify-content: space-between;
					.expand-icon {
						display: none;

						input {
							display: none;
						}
					}
				}
			}
			.footer__list {
				list-style: none;
				font-weight: 300;
				font-size: 12px;
				padding-inline-start: 0;
				li {
					margin-bottom: 8px;
					letter-spacing: 0.8px;
				}
			}
		}
		.footer__details {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			.sitemap {
				p {
					margin-bottom: 4px;
				}
				.sitemap--links {
					span:not(:last-of-type) {
						&::after {
							content: " - ";
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	footer {
		.footer__wrapper {
			.footer__columns {
				grid-template-columns: repeat(1, 1fr);
				.footer__col {
					border-bottom: 1px solid #403e39;
					&:has(:checked) {
						> .footer__list {
							display: block;
						}
					}
					.footer__col__header {
						.expand-icon {
							width: 48px;
							height: 48px;
							display: flex;
							justify-content: center;
							align-items: center;
							font-size: 24px;
							transition: all 0.4s;
							&:hover {
								cursor: pointer;
								background: #403e39;
							}
						}
					}
				}
				.footer__list {
					display: none;
				}
			}
		}
	}
}
